.home-page{
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}
.point-board{
  border: 1px solid black;
  width: 80%;
  height: 70vh;
  position: relative;
}
.number-point{
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
}
.winning{
  color: green;
}
.game-over{
  color: red;
}